<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortner</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header>
        <nav id="nav">
            <h1 class="website-title">Shortner</h1>
        </nav>
    </header>
    <main id="container">
        <div class="root">
            <h2 class="prompt-title">Enter the URL</h2>
            <form action="/" method="POST">
                <input type="text" class="long-url" placeholder="Enter the URL" name="longUrl"/>
                <button type="submit" class="submit">Generate</button>
                <button class="query">Query</button>
            </form>
            <h2 class="result"></h2>
        </div>
    </main>
    <footer></footer>
    <script src="../src/app.js"></script>
</body>
</html>